{% load static %}
<link rel="stylesheet" href="{% static 'appstat/style1.css' %}">

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Polls</title>
  </head>
  <body>
    <h1>  
      <center>
        <p class="name">ОПРОСЫ</p>
      </center>   
    </h1>
    {% if latest_poll_list %}
      {% for poll in latest_poll_list %}
        <center>
            <a href="{% url 'polling:questions' poll.id %}">
              <button class="poll">{{ poll.name }}</button>
            </form>
        </center> 
       </p>
      {% endfor %}
    {% else %}
      <p>Нет доступных опросов.</p>
    {% endif %}
  </h1> 
  </body>
</html>