<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Polls</title>
  </head>
  <body>
    <h1>
      <p align="center">Выберете опрос, чтобы участвовать в голосовании</p>
    </h1>
    <h1>
    {% if latest_poll_list %}
      <ul>
        {% for poll in latest_poll_list %}
          <li><a href="{% url 'polling:questions' poll.id %}">{{ poll.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Нет доступных опросов.</p>
    {% endif %}
  </h1> 
  </body>
</html>