<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Polls</title>
  </head>
  <body>
    <h1>
      <p align="center">Пожалуйста, выберете опрос и голосуйте!</p>
    </h1>
    <h2>
    {% if latest_poll_list %}
      <ul>
      {% for poll in latest_poll_list %}
        <li><a href="{% url 'polling:detail' poll.id %}">{{ poll.name }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>Нет доступных опросов.</p>
    {% endif %}
  </h2> 
  </body>
</html>