<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Questions</title>
  </head>
  <body>
    <h2>
      {% if poll_questions %}
        <ul>
        {% for question in poll_questions %}
          <li>{{ question.question_text }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <p>Вопросы отсуствуют.</p>
      {% endif %}
    </h2> 
    <h1><p align="center">{{ question.question_text }}</p></h1>
    <ul>
    {% for question in poll_questions %}
    <li>{{ question.question_text }}</li> 
    {% endfor %}
    {% for choice in question.choices.all %}
    <li>{{ choice.choice_text }}</li>
    {% endfor %}
    </ul>

  </body>
</html>

